{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to SecureCart!</h1>
    <p>Your go-to secure shop for vinyl records.</p>
</div>

<div class="container mt-4">
    <h2>Our Collection</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='images/vinyl_red.jpeg') }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: £{{ product.price }}</p>
                    <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
